<div class="flex flex-col h-full py-6">
  <!-- Logo Section -->
  <div class="flex items-center px-6 mb-8">
    <div class="h-8 w-8 bg-blue-600 rounded flex items-center justify-center mr-3 shadow-sm">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
      </svg>
    </div>
    <span class="text-xl font-black tracking-tight text-blue-600 dark:text-blue-400">NOVA<span class="text-gray-900 dark:text-white">BOARD</span></span>
  </div>

  <div class="px-4 mb-2">
    <h4 class="text-[10px] font-black text-gray-400 dark:text-gray-500 uppercase tracking-[0.2em] px-2 mb-4">Projects</h4>
    
    <mat-nav-list class="project-list">
      @for (project of projects(); track project.id) {
        <a 
          mat-list-item
          [routerLink]="['/projects', project.id]" 
          routerLinkActive="active-link"
          class="project-item"
        >
          <mat-icon matListItemIcon class="project-icon">folder</mat-icon>
          <span matListItemTitle class="truncate text-sm font-medium">{{ project.name }}</span>
        </a>
      } @empty {
        <div class="px-4 py-2 text-xs text-gray-400 italic">No projects found</div>
      }
    </mat-nav-list>
  </div>
</div>
